

h1 {
  margin: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container{
  display: flex;
  gap: 20px;
  align-items: center;
}

.img-logo{
  width: 32px;
  height: 32px;
}

.header-actions {
  font-size: 22px;
}

.header-actions span {
  margin-right: 3px;
}

.search-container{
  margin:15px;
  display: flex;
  flex-direction: column;
}

.searcher{
  background: url("../public/images/search.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

.searcher:focus{
  background: none;
}

