
body,html{
  height: 95vh;
  margin: 0px;
  padding: 0px;
  background-color: #F7F7F7;
}

h1, p, ul {
  margin: 0px;
}

ul{
  padding: 0px;
}

.header-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-evenly{
  display: flex;
  justify-content: space-evenly;
}

.bold{
  font-weight: bold;
  color: rgb(88, 88, 88)
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.logo-container{
  display: flex;
  gap: 20px;
  align-items: center;
}

.img-logo{
  width: 32px;
  height: 32px;
}

.header-actions {
  font-size: 22px;
}

.header-actions span {
  margin-right: 3px;
}

.alpha-order{
  max-height: 20px;
  max-width: 20px;
}

.search-container{
  margin:15px;
  display: flex;
  flex-direction: column;
  
}
.searcher{
  margin-top: 5%;
  background: url("../public/images/search.png");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 40%;
  border-radius: 5px;
  border-style:solid;
  border-color: #E0E0E0;
}
.searcher:focus{
  background: none;
}
.searcher:focus::placeholder {
  color: transparent;
}
::-webkit-input-placeholder {
  text-align: center;
}

.pokemons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 25px;
  flex-wrap:wrap;
}

.pokemon-item{
  width: 30%;
  height: 30%;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  background-color: white !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pokemon-art {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  align-items: center;
  margin-bottom: 4%;
}


.pokemon-art > img {
  max-width: 90%;
  max-height: 90%;
}

.pokemon-name {
  text-align: center;
  color: white;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
}

.pokemon-name span{
  color: white;
  font-size: small;
}


.stats-tag{
  border-right: 0.5px solid rgb(214, 211, 211);
}

.span-weight{
  margin-left: 5px;
}

.contenedor-card {
  padding: 3%;
  color: white!important;
  border-radius: 10px;
  margin: 2px;
  height: 96vh;
}
.header-card{
  display: flex;
  justify-content: space-between;
}

.flex-row{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7%;
}

.pokeballBackground{
  display: flex;
  flex-direction: column;
  align-items: center;
}


#card-img{
  width: 100vw;
  height: 25vh;
  justify-content: center;
  align-items: center;
}

#card-img > img{
  position: fixed;
}

#card-img > .pokeball-img {
  margin-left: 40%;
  position: fixed;
  opacity:8%;

}

#card-img>.pok-card-img {
  margin-left: 25%;
}

.left-frame{
  position: fixed;
  left: 15px;
  top: 18%;
}

.right-frame{
  position: fixed;
  top:18%;
  right: 15px;
}

.pokemon-type-card{
  color: white !important;
  width: fit-content;
  border-radius: 10px;
  margin-top: 3%;
  padding: 1%;
  font-weight: bold;
  border-radius: 5px;
  width: 70px;
}

.pokemon-type-container{
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.pokemon-description {
  text-align: center;
  margin: 10px 0px;
}
.pokemon-about{
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5%;
  margin-top: 5%;

}

.pokemon-weight, .pokemon-height, .pokemon-moves {
  display: flex;
  flex-direction: column;
  width: 35%;
  justify-content: space-evenly;
  height: 100%;
  gap: 5px;
}

.pokemon-moves > p{
  text-align: center;
}

.pokemon-stats {
  background-color: white;
  color: black;
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 10px;
  height: 50%;
}
.div-progress-bar{
 align-items: center;
 gap: 5px;
}

.grey-bar {
  height: 10px;
  background-color: #F1F1F1;
  width: 90%;
  margin-right: 5%;
  border-radius: 5px;
}

.stats-tag li {
  list-style: none;
}


.id{ 
  font-size: 12px;
  font-weight: bold;
  margin-left: 85%;
}


.rock {
  background-color: #B69E31;
  color: #B69E31;
  border: 2px solid #B69E31;
}
.fire{
  background-color: #F57D31;
  color: #F57D31;
  border: 2px solid #F57D31;
}
.water{
  background-color: #6493EB;
  color: #6493EB;
  border: 2px solid #6493EB;
}
.bug{
  background-color: #A7B723;
  color: #A7B723;
  border: 2px solid #A7B723;
}
.electric{
  background-color: #F9CF30;
  color: #F9CF30;
  border: 2px solid #F9CF30;
}
.ghost{
  background-color: #70559B;
  color: #70559B;
  border: 2px solid #70559B;
}
.steel{
  background-color: #B7B9D0;
  color: #B7B9D0;
  border: 2px solid #B7B9D0;
}
.grass{
  background-color:  #74CB48;
  color: #74CB48;
  border: 2px solid #74CB48;
}
.dark{
  background-color:  #75574C;
  color: #75574C;
  border: 2px solid #75574C;
}
.fairy{
  background-color:  #E69EAC;
  color: #E69EAC;
  border: 2px solid #E69EAC;
}
.normal{
  background-color:  #AAA67F;
  color: #AAA67F;
  border: 2px solid #AAA67F;
}

.fighting{
  background-color:  #C12239;
  color: #C12239;
  border: 2px solid #C12239;
}
.flying{
  background-color:  #A891EC;
  color: #A891EC;
  border: 2px solid #A891EC;
}
.poison{
  background-color:  #A43E9E;
  color: #A43E9E;
  border: 2px solid #A43E9E;
}
.ground{
  background-color:  #DEC16B;
  color: #DEC16B;
  border: 2px solid #DEC16B;
}
.dragon{
  background-color:  #7037FF;
  color: #7037FF;
  border: 2px solid #7037FF;
}

.psychic{
  background-color: #FB5584;
  color: #FB5584;
  border: 2px solid #FB5584;
}

@media (min-width: 450px) {
  body,html{
    height: 90vh;
  }
  
  
  .contenedor-card{
    height: 86vh;
  }
  .search-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-search {
    width: 90%;
  }
  .searcher {
    margin-top:  3%;
    width: 50%;
  }
  .pokemons-container {
    width: 50%;
  }
  .left-frame {
    position: fixed;
    left: 25%;
    top: 25%;
  }

  .right-frame {
    position: fixed;
    top: 25%;
    right: 25%;
  }
  .pokemons-stats {
    background-color: none;
  }
  .pokemon-type-container{
    margin-top: 6%;
    margin-bottom: 2%;
  }
  .pokemon-about{
    width: 60%;
    height: 80%;
  }
  #card-img > .pokeball-img {
    margin-left: 30%;
  }
  #card-img, .pokeball-img {
    margin-left: 30%;
  }
  .right-frame {
    height: 30px;
  }
  #card-img > img {
    position: absolute;
  }
  .pokeball-img {
    height: 30vh
  }
  .pok-card-img{
  height: 40vh; 
  }
  #card-img > .pokeball-img {
    position: absolute;
  }

}

